.products {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 5vw;
    background: linear-gradient(
        to bottom right, rgb(41, 40, 139), rgb(126, 37, 126)
      );
}

/* rgb(8, 7, 57) */

.title {
  margin-top: 7vh;
  margin-bottom: 2vh;
  
}

.title h2 {
  margin-bottom: 1vh;
  font-size: 2.5vw;
  color: white;
}


.title h3 {
  font-size: 2vw;
  color: rgb(245, 239, 239);
  font-weight: 800;
  margin-bottom: 2vh;
}

.quality {
  color: #eab147; 
  font-weight: 700;
}

.productImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.jetsetImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}


.productOneContainer {
  width: 95%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.pOneLeft {
  width: 50%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pOneRight {
  width: 50%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pOneRight p {
  font-size: 1.6vw;
  font-weight: 700;
  color: white;
  position: relative;
  right: 10%;
  bottom: 5%
}

.productTwoContainer {
  width: 95%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.pTwoLeft {
  width: 50%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pTwoLeft p {
  font-weight: 700;
  font-size: 1.5vw;
  color: white;
  left: 30%;
  position: relative;
}

.pTwoRight {
  width: 30%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom:  45vh;
}

.productThreeContainer {
  width: 95%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.pThreeLeft {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -50%;
  margin-left: 5vw;
}

.pThreeRight {
  width: 70%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productFourContainer {
  width: 95%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.pFourLeft {
  width: 60%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pFourRight {
  width: 40%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 10vw;
  position: relative;
  bottom: 130%;
  right: 5%
}

.productFiveContainer {
  width: 95%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.pFiveLeft {
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 105%;
}

.pFiveRight {
  width: 60%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pFiveRight p {
  font-weight: 500;
  font-size: 2.3vw;
  color: white;
  position: relative;
  bottom: 100%;
}

.jetsetPresentation {
  width: 95%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.presentationLeft {
  width: 60%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -50%;
}

.presentationLeft p {
  font-size: 2.7vw;
  color: white;
  font-weight: 500;
  position: relative;
  right: 16%;
  bottom: 20%;
}

.presentationRight {
  width: 30vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -70%;
  right: 10%;
}

