.products {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 5vw;
    background: linear-gradient(
        to bottom right, rgb(41, 40, 139), rgb(40, 11, 40)
      );
}

/* rgb(8, 7, 57) */

.title {
  margin-top: 7vh;
  margin-bottom: 2vh;
  
}

.title h2 {
  margin-bottom: 1vh;
  font-size: 2.5vw;
  color: white;
}


.title h3 {
  font-size: 2vw;
  color: rgb(245, 239, 239);
  font-weight: 800;
  margin-bottom: 7vh;
}

.quality {
  color: #eab147; 
  font-weight: 500;
}

.productImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}



.productOneContainer {
  width: 95%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 4vh;
}
.pOneLeft {
  width: 70%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pOneRight {
  width: 30%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productTwoContainer {
  width: 95%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.pTwoLeft {
  width: 60%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pTwoRight {
  width: 40%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productThreeContainer {
  width: 95%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.pThreeLeft {
  width: 30%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 45vh;
}

.pThreeRight {
  width: 70%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productFourContainer {
  width: 95%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.pFourLeft {
  width: 60%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pFourRight {
  width: 40%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 65vh;
  margin-right: 10vw;
}

.productFiveContainer {
  width: 95%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.pFiveLeft {
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 45vh;
}

.pFiveRight {
  width: 60%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jetsetPresentation {
  width: 95%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.presentationLeft {
  width: 60%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.presentationLeft p {
  font-size: 1vw;
}

.presentationRight {
  width: 50%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10vh;
}

