.plans {
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(
        to bottom left,rgb(99, 50, 178), rgb(188, 121, 198)
      );
}
