.callToAction {
    width: 100vw;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-left: 2vw;
    background: linear-gradient(
        to bottom left, rgb(117, 40, 117), rgb(39, 37, 149)
      );
}

.classyLeft {
  width:60%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.classyImgWoman {
  position: relative;
  width: 60%;
  height: 90%;
  top: -15%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 
    5px 0px 10px #c9b5cf;
    transition: transform 0.3s ease;
}

.classyImgMan {
  position: relative;
  width: 60%;
  height: 90%;
  top: 10%;
  left: 5%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 
    5px 0px 10px #c9b5cf;
    transition: transform 0.3s ease;
  margin-right: 5vw;
}

.classyImgMan:hover {
  transform: translateY(-1vw);
}

.classyImgWoman:hover {
  transform: translateY(-1vw);
}

.classyRight {
  width: 30vw;
  height: 70vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 1vw;
}

.classyRight p {
  font-size: 2.2vw;
  font-weight: 400;
  color: white;
}

.takeOff {
  color: #eab147; 
}

.signUpBtn {
  margin-top: 4vh;
  padding-top: 1vh;
  padding-left: 2vw;
  padding-bottom: 1vh;
  padding-right: 2vw;
  border-radius: 25px;
  border: 3px solid #eab147; 
  color: white;
  background-color: transparent;
  cursor: pointer; 
  text-decoration: none; 
  font-weight: 500;
  font-size: 1vw;
}

.signUpBtn:hover {
  background-color: #eab147; 
  color: black;
  border: 2px solid  #eab147; 
}
